/*/
 * START VARIABLE SECTION 
/*/
/*/
 * END VARIABLE SECTION 
/*/
body {
  font-family: Helvetica, sans-serif;
  color: #000000;
  background-color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, serif;
  color: #6526D9; }

a {
  text-decoration: none;
  color: #6BC4FD; }
