@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Code+Pro:wght@600&display=swap");
/*/
 * START VARIABLE SECTION 
/*/
/*/
 * END VARIABLE SECTION 
/*/
* {
  margin: 0;
  padding: 0;
  transition: 0.2s; }

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  background-color: #FFFFFF; }

html, body {
  max-width: 100vw; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

a {
  color: #4c81fb; }

.cs-is-primary {
  color: #4c81fb; }

.cs-is-secondary {
  color: #83ca86; }

.cs-is-yellow {
  color: #e9c46a; }

.cs-is-red {
  color: #e76f51; }

.cs-is-orange {
  color: #f4a261; }

.cs-is-purple {
  color: #855df7; }

.cs-is-grey {
  color: #1e222a; }

.cs-is-black {
  color: #000000; }

.cs-is-white {
  color: #FFFFFF; }

.cs-font-is-primary {
  font-family: "Noto Sans JP", sans-serif; }

.cs-font-is-secondary {
  font-family: "Open Sans", sans-serif; }

.cs-font-is-monospace {
  font-family: "Source Code Pro", monospace; }

.cs-background-is-primary {
  background-color: #4c81fb; }

.cs-background-is-secondary {
  background-color: #83ca86; }

.cs-background-is-yellow {
  background-color: #e9c46a; }

.cs-background-is-red {
  background-color: #e76f51; }

.cs-background-is-orange {
  background-color: #f4a261; }

.cs-background-is-purple {
  background-color: #855df7; }

.cs-background-is-grey {
  background-color: #1e222a; }

.cs-background-is-black {
  background-color: #000000; }

.cs-background-is-white {
  background-color: #FFFFFF; }

.cs-border {
  border-width: 3px; }

.cs-border-is-primary {
  border-color: #4c81fb; }

.cs-border-is-secondary {
  border-color: #83ca86; }

.cs-border-is-yellow {
  border-color: #e9c46a; }

.cs-border-is-red {
  border-color: #e76f51; }

.cs-border-is-orange {
  border-color: #f4a261; }

.cs-border-is-purple {
  border-color: #855df7; }

.cs-border-is-grey {
  border-color: #1e222a; }

.cs-border-is-black {
  border-color: #000000; }

.cs-border-is-white {
  border-color: #FFFFFF; }

.cs-border-is-solid {
  border-style: solid; }

.cs-border-is-dotted {
  border-style: dotted; }

.cs-border-is-dashed {
  border-style: dashed; }

.cs-border-is-double {
  border-style: double; }

.cs-border-is-groove {
  border-style: groove; }

.cs-border-is-ridge {
  border-style: ridge; }

.cs-border-is-none {
  border-style: none; }

.cs {
  padding: 10px;
  max-width: 100vw; }

.cs-code {
  font-family: "Source Code Pro", monospace; }

.cs-has-padding {
  padding: 10px; }

.cs-has-margin {
  margin: 10px; }

.cs-is-title {
  font-size: 3em; }

.cs-is-subtitle {
  font-size: 2em; }

.cs-is-aligned-center {
  text-align: center; }

.cs-is-aligned-left {
  text-align: left; }

.cs-is-aligned-right {
  text-align: right; }

.cs-is-aligned-justify {
  text-align: justify; }

.cs-columns {
  display: flex;
  flex-wrap: wrap; }

.cs-columns > .cs-column {
  min-width: 200px;
  flex: 1;
  padding: 10px;
  margin: 2vw;
  border-radius: 10px; }

.cs-has-border-rounded {
  border-radius: 10px; }

.cs-has-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.cs-box {
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px; }

.cs-button.is-ghost {
  border: none;
  text-decoration: underline; }

.cs-button.is-ghost:hover {
  border: none; }

.cs-button.is-text {
  border: none;
  text-decoration: underline; }

.cs-button.is-text:hover {
  background-color: #adadad;
  color: #000000;
  border: none; }

.cs-button.is-primary {
  background-color: #4c81fb;
  color: #000000; }

.cs-button.is-secondary {
  background-color: #83ca86;
  color: #000000; }

.cs-button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #adadad;
  text-decoration: none; }

.cs-button:hover {
  border: 1px solid #000000; }

.cs-button.is-large {
  font-size: 2em; }

.cs-button.is-medium {
  font-size: 1.5em; }

.cs-button.is-small {
  font-size: 0.7em; }

.cs-notification {
  padding: 10px;
  border-radius: 10px;
  margin: 10px; }

.cs-link {
  color: #4c81fb; }

.cs-link:hover {
  color: #1e222a; }

.cs-container {
  display: block;
  margin: 10px;
  padding: 10px; }

.cs-card {
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px; }

.cs-card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); }

.cs-float-left {
  float: left; }

.cs-float-right {
  float: right; }

.cs-float-none {
  float: none; }

.cs-display-block {
  display: block; }

.cs-display-flex {
  display: flex; }

.cs-display-inline-block {
  display: inline-block; }

.cs-display-none {
  display: none; }

.cs-display-grid {
  display: grid; }

.cs-display-inline {
  display: inline; }

.cs-display-inline-grid {
  display: inline-grid; }

.cs-display-flow-root {
  display: flow-root; }

.cs-flex-1 {
  flex: 1; }

.cs-flex-2 {
  flex: 2; }

.cs-flex-3 {
  flex: 3; }

.cs-position-relative {
  position: relative; }

.cs-position-fixed {
  position: fixed; }

.cs-position-static {
  position: static; }

.cs-position-sticky {
  position: sticky; }

.cs-position-absolute {
  position: absolute; }
