
/* Border style */
$bds-values: solid, dotted, dashed;
@each $bds-value in $bds-values {
    .bds-#{$bds-value} {
        border-style: #{$bds-value}
    }
}
/* Border width */
@for $value from 1 to 10 {
    .bdw-#{$value} {
        border-width: #{$value}px;
    }
}

/* --------- ♥ Border radius ♥ --------- */

.bdr-none {
    border-radius: var(--none)
}

.bdr-rounded {
    border-radius: var(--rounded-box);
}

.bdr-curved {
    border-radius: var(--curved-box);
}

/* ---------------------------------- */