         /* --------- ✍ Fonts ✍ --------- */

.ft-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.ft-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ft-courier {
    font-family: 'Courier New', Courier, monospace;
}

.ft-sans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ft-verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ft-serif{
    font-family: serif;
}


/* Text align */
.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

/* Font Size (in vw. changed from rem to make it dynamically sized. if i've done something wrong please hit me in the head with a brick) */

.fs-1 {
    font-size: 1vw;
}

.fs-2 {
    font-size: 2vw;
}

.fs-3 {
    font-size: 3vw;
}

.fs-4 {
    font-size: 4vw;
}

.fs-5 {
    font-size: 5vw;
}

.fs-6 {
    font-size: 6vw;
}

.fs-7 {
    font-size: 7vw;
}

.fs-8 {
    font-size: 8vw;
}

.fs-9 {
    font-size: 9vw;
}

.fs-10 {
    font-size: 10vw;
}


/* Text decoration */

.td-bold {
    text-decoration: bold;
}

.td-underline {
    text-decoration: underline;
}

.td-none {
    text-decoration: none;
}

/* Word Wrap */

.wdw-normal {
    word-wrap: normal;
}

.wdw-break-word {
    word-wrap: break-word;
}

.wdw-initial {
    word-wrap: initial;
}

.wdw-inherit {
    word-wrap: inherit;
}