@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Code+Pro:wght@600&display=swap');

/*/
 * START VARIABLE SECTION 
/*/
$blue:  #4c81fb;
$cyan:  #83ca86;
$yellow:#e9c46a;
$orange:#f4a261;
$red:   #e76f51;
$purple:#855df7;
$grey:  #1e222a;
$black: #000000;
$white: #FFFFFF;
$light: #adadad;

$primary-font:'Noto Sans JP', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$monospace-font:'Source Code Pro', monospace;

$primary-color:$blue;
$secondary-color:$cyan;

$text-color:$black;
$background-color:$white;

$link-hover-color:$grey;

$border-width:3px;

$shadow-color:rgba(0, 0, 0, 0.2);

$text-button-hover-background:$light;
$text-button-hover-color:$black;
$button-border-color:$light;

$column-min-width:200px;

$default-margin:10px;
$default-padding:10px;
$column-spacing:2vw;

/*/
 * END VARIABLE SECTION 
/*/

* {
    margin:0;
    padding:0;
    transition:0.2s;
}

body {
    font-family:$primary-font;
    color:$text-color;
    background-color:$background-color;
}

html, body {
    max-width:100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
}

a {
    color:$primary-color;
}

.cs-is-primary {color:$primary-color}
.cs-is-secondary {color:$secondary-color}
.cs-is-yellow {color:$yellow}
.cs-is-red {color:$red}
.cs-is-orange {color:$orange}
.cs-is-purple {color:$purple}
.cs-is-grey {color:$grey}
.cs-is-black {color:$black}
.cs-is-white {color:$white}

.cs-font-is-primary {font-family:$primary-font}
.cs-font-is-secondary {font-family:$secondary-font}
.cs-font-is-monospace {font-family:$monospace-font}

.cs-background-is-primary {background-color:$primary-color}
.cs-background-is-secondary {background-color:$secondary-color}
.cs-background-is-yellow {background-color:$yellow}
.cs-background-is-red {background-color:$red}
.cs-background-is-orange {background-color:$orange}
.cs-background-is-purple {background-color:$purple}
.cs-background-is-grey {background-color:$grey}
.cs-background-is-black {background-color:$black}
.cs-background-is-white {background-color:$white}

.cs-border {border-width:$border-width;}

.cs-border-is-primary {border-color: $primary-color}
.cs-border-is-secondary {border-color: $secondary-color}
.cs-border-is-yellow {border-color: $yellow}
.cs-border-is-red {border-color: $red}
.cs-border-is-orange {border-color: $orange}
.cs-border-is-purple {border-color: $purple}
.cs-border-is-grey {border-color: $grey}
.cs-border-is-black {border-color: $black}
.cs-border-is-white {border-color: $white}

.cs-border-is-solid {border-style: solid;}
.cs-border-is-dotted {border-style:dotted;}
.cs-border-is-dashed {border-style:dashed;}
.cs-border-is-double {border-style:double;}
.cs-border-is-groove {border-style:groove;}
.cs-border-is-ridge {border-style:ridge;}
.cs-border-is-none {border-style:none;}

.cs {
    padding:$default-padding;
    max-width:100vw;
}

.cs-code {
    font-family:$monospace-font;
}

.cs-has-padding {padding:$default-padding;}
.cs-has-margin {margin:$default-margin;}

.cs-is-title {font-size:3em}
.cs-is-subtitle {font-size:2em}

.cs-is-aligned-center {text-align:center}
.cs-is-aligned-left {text-align:left}
.cs-is-aligned-right {text-align:right}
.cs-is-aligned-justify {text-align:justify}

.cs-columns {
    display:flex;
    flex-wrap:wrap;
}

.cs-columns > .cs-column {
    min-width:$column-min-width;
    flex:1;
    padding:$default-padding;
    margin:$column-spacing;
    border-radius:10px;
}

.cs-has-border-rounded {
    border-radius:10px;
}

.cs-has-shadow {
    box-shadow: 0 4px 8px 0 $shadow-color;
}

.cs-box {
    padding:$default-padding;
    background-color:$background-color;
    box-shadow: 0 4px 8px 0 $shadow-color;
    border-radius:10px;
    margin:$default-margin;
}

.cs-button.is-ghost {
    border:none;
    text-decoration:underline;
}

.cs-button.is-ghost:hover {
    border:none;
}

.cs-button.is-text {
    border:none;
    text-decoration:underline;
}

.cs-button.is-text:hover {
    background-color:$text-button-hover-background;
    color:$text-button-hover-color;
    border:none;
}

.cs-button.is-primary {
    background-color: $primary-color;
    color:$text-color;
}

.cs-button.is-secondary {
    background-color: $secondary-color;
    color:$text-color;
}

.cs-button {
    padding:$default-padding;
    margin:$default-margin;
    border-radius:10px;
    display:inline-block;
    color:$text-color;
    background-color:$background-color;
    border:1px solid $button-border-color;
    text-decoration:none;
}

.cs-button:hover {
    border:1px solid $black;
}

.cs-button.is-large {
    font-size:2em;
}

.cs-button.is-medium {
    font-size:1.5em;
}

.cs-button.is-small {
    font-size:0.7em;
}

.cs-notification {
    padding:$default-padding;
    border-radius:10px;
    margin:$default-margin;
}

.cs-link {
    color:$blue;
}

.cs-link:hover {
    color:$link-hover-color;
}

.cs-container {
    display:block;
    margin:$default-margin;
    padding:$default-padding;
}

.cs-card {
    padding:$default-padding;
    background-color:$background-color;
    box-shadow: 0 4px 8px 0 $shadow-color;
    border-radius:10px;
    margin:$default-margin;
}

.cs-card:hover {
    box-shadow: 0 6px 10px 0 $shadow-color;
}
