/*/
 * START VARIABLE SECTION 
/*/

$primary-font:Helvetica, sans-serif;
$secondary-font:Garamond, serif;

$primary-color:hsl(229, 53%, 53%);
$secondary-color:hsl(171, 100%, 41%);

$text-color:#000000;
$background-color:#FFFFFF;

/*/
 * END VARIABLE SECTION 
/*/

body {
    font-family:$primary-font;
    color:$text-color;
    background-color:$background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
}

a {
    color:$primary-color;
}
