$colors: red, orange, yellow, aqua, blue, purple;
$contrasts: white, black;
@each $color in $colors {
    @for $value from 1 to 9 {
        .cs-background-color-#{$color}-#{$value} {
            background-color: var(--#{$color}-#{$value});
        }
    }
    .cs-foreground-color-#{$color} {
        color: var(--#{$color}-50);
    }
    .cs-border-color-#{$color} {
        border-color: var(--#{$color}-50);
    }
}
@each $contrast in $contrasts {
    .cs-background-color-#{$contrast} {
        background-color: var(--#{$contrast});
        &-op {
        background-color: var(var(--#{$contrast}-op));
    }
    }
    .cs-foreground-color-#{$contrast} {
        color: var(--#{$contrast});
    }
    .cs-border-color-#{$contrast} {
        border-color: var(--#{$contrast});
    }
}