.cs-font {
    &-arial {
        font-family: Arial, Helvetica, sans-serif;
    }
    &-georgia {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    &-courier {
        font-family: 'Courier New', Courier, monospace;
    }
    &-sans {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    &-verdana {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    &-serif {
        font-family: serif;
    }
}

$ta-values: left, center, right;
@each $ta-value in $ta-values {
    .cs-text-align-#{$ta-value} {
        text-align: #{$ta-value};
    }
}

@for $value from 1 to 10 {
    .cs-font-size-#{$value} {
        font-size: #{$value}vw;
    }
}

$td-values: bold, underline, none;
@each $td-value in $td-values {
    .cs-text-decoration-#{$td-value} {
        text-decoration: #{$td-value};
    }
}

$wdw-values: normal, break-word, initial, inherit;
@each $wdw-value in $wdw-values {
    .cs-word-wrap-#{$wdw-value} {
        word-wrap: #{$wdw-value};
    }
}