$presets: 10, 25, 50, 75, 100;
@each $preset in $presets {
  .cs-width {
    &-#{$preset} {
      width: #{$preset}vw;
    }
    &-auto {
      position: absolute;
    }
  }
  .cs-height {
    &-#{$preset} {
      height: #{$preset}vh;
    }
    &-auto {
      height: auto;
    }
  }
}

@for $opacity from 0 to 10  {
  .cs-opacity {
    &-#{$opacity} {
      opacity: $opacity / 10;
      &:hover {
        opacity: $opacity / 10;
        transition: 400ms;
      }
    }
  }
}

@for $value from 1 to 16 {
  .cs-padding-#{$value} {
    padding: #{$value}vw #{$value}vh;
  }
  .cs-margin-#{$value} {
    margin: #{$value}vw #{$value}vh;
  }
}

$fl_values: left, right, none, inherit;
@each $fl_value in $fl_values {
  .cs-float-#{$fl_value} {
    float: #{$fl_value};
  }
}
.cs-column {
  float: left;
}
.cs-row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .cs-column {
    width: 100%;
    padding: 4px 4px;
  }
}

$pos_values: static, relative, fixed, absolute, sticky;
@each $pos_value in $pos_values {
  .cs-position-#{$pos_value} {
    position: #{$pos_value};
  }
}

.cs-non-select{
    user-select: none;
    -webkit-user-select: none;
}

@for $value from 1 to 5 {
  .cs-fade-#{$value} {
    animation: fade infinite #{$value}s;
  }
  @keyframes fade {
    50% {
      opacity: .3
    }
  }
}