:root {
    /* --------- 🍏 Colors 🍏 --------- */

    --white: white;
    --black: black;
    --discord-dark: #23272a;
    --discord-light: #2c2f33;
    --discord-whitegrey: #99aab5;
    --discord-white: #ffffff;
    --discord-main: #7289da;

    /* ---------------------------------- */

    /* --------- 🍒 HSL colours 🍒 --------- */

    --red-1: hsla(360, 100%, 10%, 1);
    --red-2: hsla(360, 100%, 20%, 1);
    --red-3: hsla(360, 100%, 30%, 1);
    --red-4: hsla(360, 100%, 40%, 1);
    --red-5: hsla(360, 100%, 50%, 1);
    --red-6: hsla(360, 100%, 60%, 1);
    --red-7: hsla(360, 100%, 70%, 1);
    --red-8: hsla(360, 100%, 80%, 1);
    --red-9: hsla(360, 100%, 90%, 1);

    --orange-1: hsla(35, 100%, 10%, 1);
    --orange-2: hsla(35, 100%, 20%, 1);
    --orange-3: hsla(35, 100%, 30%, 1);
    --orange-4: hsla(35, 100%, 40%, 1);
    --orange-5: hsla(35, 100%, 50%, 1);
    --orange-6: hsla(35, 100%, 60%, 1);
    --orange-7: hsla(35, 100%, 70%, 1);
    --orange-8: hsla(35, 100%, 80%, 1);
    --orange-9: hsla(35, 100%, 90%, 1);

    --yellow-1: hsla(45, 100%, 10%, 1);
    --yellow-2: hsla(45, 100%, 20%, 1);
    --yellow-3: hsla(45, 100%, 30%, 1);
    --yellow-4: hsla(45, 100%, 40%, 1);
    --yellow-5: hsla(45, 100%, 50%, 1);
    --yellow-6: hsla(45, 100%, 60%, 1);
    --yellow-7: hsla(45, 100%, 70%, 1);
    --yellow-8: hsla(45, 100%, 80%, 1);
    --yellow-9: hsla(45, 100%, 90%, 1);

    --aqua-1: hsla(168, 100%, 10%, 1);
    --aqua-2: hsla(168, 100%, 20%, 1);
    --aqua-3: hsla(168, 100%, 30%, 1);
    --aqua-4: hsla(168, 100%, 40%, 1);
    --aqua-5: hsla(168, 100%, 50%, 1);
    --aqua-6: hsla(168, 100%, 60%, 1);
    --aqua-7: hsla(168, 100%, 70%, 1);
    --aqua-8: hsla(168, 100%, 80%, 1);
    --aqua-9: hsla(168, 100%, 90%, 1);

    --blue-1: hsla(231, 100%, 10%, 1);
    --blue-2: hsla(231, 100%, 20%, 1);
    --blue-3: hsla(231, 100%, 30%, 1);
    --blue-4: hsla(231, 100%, 40%, 1);
    --blue-5: hsla(231, 100%, 50%, 1);
    --blue-6: hsla(231, 100%, 60%, 1);
    --blue-7: hsla(231, 100%, 70%, 1);
    --blue-8: hsla(231, 100%, 80%, 1);
    --blue-9: hsla(231, 100%, 90%, 1);

    --purple-1: hsla(275, 100%, 10%, 1);
    --purple-2: hsla(275, 100%, 20%, 1);
    --purple-3: hsla(275, 100%, 30%, 1);
    --purple-4: hsla(275, 100%, 40%, 1);
    --purple-5: hsla(275, 100%, 50%, 1);
    --purple-6: hsla(275, 100%, 60%, 1);
    --purple-7: hsla(275, 100%, 70%, 1);
    --purple-8: hsla(275, 100%, 80%, 1);
    --purple-9: hsla(275, 100%, 90%, 1);

    --red-50: var(--red-5);
    --orange-50: var(--orange-5);
    --yellow-50: var(--yellow-5);
    --aqua-50: var(--aqua-5);

    /* ---------------------------------- */

    /* --------- 💥 Opacity Colors 💥 --------- */

    --black-op: rgba(0, 0, 0, 0.5);
    --white-op: rgba(255, 255, 255, 0.5);

    /* ---------------------------------- */

    /* --------- ⭕ Border Radius ⭕ --------- */

    --none: 0px;
    --rounded-box: 5px;
    --curved-box: 12px;

    /* ---------------------------------- */
}

@import "bg";
@import "fg";
@import "bdc";