:root {
    /* --------- 🍏 Colors 🍏 --------- */

    --white: white;
    --black: black;
    --discord-dark: #23272a;
    --discord-light: #2c2f33;
    --discord-whitegrey: #99aab5;
    --discord-white: #ffffff;
    --discord-main: #7289da;

    /* ---------------------------------- */

    /* --------- 🍒 HSL colours 🍒 --------- */

    @for $color-value from 1 to 9 {
        --red-#{$color-value}: hsla(360, 100%, ($color-value * 10)%, 1);

        --orange-#{$color-value}: hsla(35, 100%, ($color-value * 10)%, 1);

        --yellow-#{$color-value}: hsla(45, 100%, ($color-value * 10)%, 1);

        --aqua-#{$color-value}: hsla(168, 100%, ($color-value * 10)%, 1);

        --blue-#{$color-value}: hsla(231, 100%, ($color-value * 10)%, 1);

        --purple-#{$color-value}: hsla(275, 100%, ($color-value * 10)%, 1);
    }
    $colors: red, orange, yellow, aqua, blue, purple;
    @each $color in $colors {
        --#{$color}-50: var(--#{$color}-5)
    }
    /* ---------------------------------- */

    /* --------- 💥 Opacity Colors 💥 --------- */

    --black-op: rgba(0, 0, 0, 0.5);
    --white-op: rgba(255, 255, 255, 0.5);

    /* ---------------------------------- */

    /* --------- ⭕ Border Radius ⭕ --------- */

    --none: 0px;
    --rounded-box: 5px;
    --curved-box: 12px;

    /* ---------------------------------- */
}

@import "bg";
@import "fg";
@import "bdc";