/* --------- 👑 Border colours / foreground colours 👑 --------- */

.bdc-white {
    border-color: var(--white)
}

.bdc-black {
    border-color: var(--black);
}

.bdc-red {
    border-color: var(--red);
}

.bdc-orange {
    border-color: var(--orange);
}

.bdc-yellow {
    border-color: var(--yellow);
}

.bdc-aqua {
    border-color: var(--aqua);
}

.bdc-blue {
    border-color: var(--blue);
}

.bdc-purple {
    border-color: var(--purple);
}
