/* --------- 🌆 Background colours 🌆 --------- */

.bg-white {
    background-color: var(--white)
}

.bg-black {
    background-color: var(--black);
}

    /* --------- 🔏 HSL colours 🔏 --------- */

.bg-red1 {
    background-color: var(--red-1);
}

.bg-red2 {
    background-color: var(--red-2);
}

.bg-red3 {
    background-color: var(--red-3);
}

.bg-red4 {
    background-color: var(--red-4);
}

.bg-red5 {
    background-color: var(--red-5);
}

.bg-red6 {
    background-color: var(--red-6);
}

.bg-red7 {
    background-color: var(--red-7);
}

.bg-red8 {
    background-color: var(--red-8);
}

.bg-red9 {
    background-color: var(--red-9);
}

.bg-orange1 {
    background-color: var(--orange-1);
}

.bg-orange2 {
    background-color: var(--orange-2);
}

.bg-orange3 {
    background-color: var(--orange-3);
}

.bg-orange4 {
    background-color: var(--orange-4);
}

.bg-orange5 {
    background-color: var(--orange-5);
}

.bg-orange6 {
    background-color: var(--orange-6);
}

.bg-orange7 {
    background-color: var(--orange-7);
}

.bg-orange8 {
    background-color: var(--orange-8);
}

.bg-orange9 {
    background-color: var(--orange-9);
}

.bg-yellow1 {
    background-color: var(--yellow-1);
}

.bg-yellow2 {
    background-color: var(--yellow-2);
}

.bg-yellow3 {
    background-color: var(--yellow-3);
}

.bg-yellow4 {
    background-color: var(--yellow-4);
}

.bg-yellow5 {
    background-color: var(--yellow-5);
}

.bg-yellow6 {
    background-color: var(--yellow-6);
}

.bg-yellow7 {
    background-color: var(--yellow-7);
}

.bg-yellow8 {
    background-color: var(--yellow-8);
}

.bg-yellow9 {
    background-color: var(--yellow-9);
}

.bg-aqua1 {
    background-color: var(--aqua-1);
}

.bg-aqua2 {
    background-color: var(--aqua-2);
}

.bg-aqua3 {
    background-color: var(--aqua-3);
}

.bg-aqua4 {
    background-color: var(--aqua-4);
}

.bg-aqua5 {
    background-color: var(--aqua-5);
}

.bg-aqua6 {
    background-color: var(--aqua-6);
}

.bg-aqua7 {
    background-color: var(--aqua-7);
}

.bg-aqua8 {
    background-color: var(--aqua-8);
}

.bg-aqua9 {
    background-color: var(--aqua-9);
}

.bg-blue1 {
    background-color: var(--blue-1);
}

.bg-blue2 {
    background-color: var(--blue-2);
}

.bg-blue3 {
    background-color: var(--blue-3);
}

.bg-blue4 {
    background-color: var(--blue-4);
}

.bg-blue5 {
    background-color: var(--blue-5);
}

.bg-blue6 {
    background-color: var(--blue-6);
}

.bg-blue7 {
    background-color: var(--blue-7);
}

.bg-blue8 {
    background-color: var(--blue-8);
}

.bg-blue9 {
    background-color: var(--blue-9);
}

.bg-purple1 {
    background-color: var(--purple-1);
}

.bg-purple2 {
    background-color: var(--purple-2);
}

.bg-purple3 {
    background-color: var(--purple-3);
}

.bg-purple4 {
    background-color: var(--purple-4);
}

.bg-purple5 {
    background-color: var(--purple-5);
}

.bg-purple6 {
    background-color: var(--purple-6);
}

.bg-purple7 {
    background-color: var(--purple-7);
}

.bg-purple8 {
    background-color: var(--purple-8);
}

.bg-purple9 {
    background-color: var(--purple-9);
}

/* --------- 🐧 Background with opacity 🐧 --------- */

.bg-black-op {
    background-color: var(--black-op);
}

.bg-white-op {
    background-color: var(--white-op);
}