/* --------- 📝 Text colours / foreground colours 📝 --------- */

.fg-white {
    color: var(--white)
}

.fg-black {
    color: var(--black);
}

.fg-red {
    color: var(--red-50);
}

.fg-orange {
    color: var(--orange-50);
}

.fg-yellow {
    color: var(--yellow-50);
}

.fg-aqua {
    color: var(--aqua-50);
}

.fg-blue {
    color: var(--blue-50);
}

.fg-purple {
    color: var(--purple-50);
}

.fg-green {
    color: var(--green-50);
}
