$bds-values: solid, dotted, dashed;
@each $bds-value in $bds-values {
    .cs-border-style-#{$bds-value} {
        border-style: #{$bds-value}
    }
}
@for $value from 1 to 10 {
    .cs-border-width-#{$value} {
        border-width: #{$value}px;
    }
}
$radius-values: (none: 0px, rounded: 5px, curved: 12px);
@each $radius-value, $radius-px in $radius-values {
    .cs-border-radius-#{$radius-value} {
            border-radius: $radius-px;
    }
}