@mixin include_border($bd_style: None) {
    @if $bd_style != None {
        border: 3px solid $bd_style;
    }
    @content;
}

@mixin include_hover($hv_fg, $hv_bg) {
    &:hover {
        @if $hv_fg != None {
            color: $hv_fg;
        }
        @if $hv_bg != None {
            background-color: $hv_bg;
        }
    }
}

@mixin button_prop($fg, $bg: $fg) {
    color: $fg;
    background-color: $bg;
}

%button-default {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    transition: .4s;
    &:hover {
        border-radius: 7px;
    }
}

.cs-button {
    &-git {
        $git-fg: white; $git-bg: rgb(31, 30, 30);
        @extend %button-default;
        @include button_prop($git-fg, $git-bg);
        @include include_border($git-bg);
        @include include_hover(white, $git-bg);
    }
    &-success {
        $success-fg: white; $success-bg: #58d158;
        @extend %button-default;
        @include button_prop($success-fg, $success-bg);
        @include include_border($success-bg) {
            @include include_hover($success-fg, $success-bg);
        }
        @include include_hover(None, rgb(56, 173, 62));
        }
    }
    &-warning {
        $warning-fg: white; $warning-bg: #f8f859;
        @extend %button-default;
        @include button_prop($warning-fg, $warning-bg);
        @include include_border($warning-bg) {
            @include include_hover($warning-fg, $warning-bg)
        }
        @include include_hover(None, rgb(204, 204, 53));
    }
    &-error {
        $error-fg: white; $error-bg: rgb(238, 76, 76);
        @extend %button-default;
        @include button_prop($error-fg, $error-bg);
        @include include_border($error-bg) {
            @include include_hover($error-fg, $error-bg);
        }
        @include include_hover(None, rgb(204, 53, 53))
    }