$border-color: none;

// $bd_style/$hv_style
// True -> don't change color
// Lighten -> lighten color by 10%
// Darken -> darken color by 10%
// False -> no style

@mixin include_border($bd_fg, $bd_bg, $bd_style) {

}

@mixin include_hover($hv_fg, $hv_bg, $hv_style) {

}

@mixin button_prop($fg, $bg: $fg, $hv: False, $bd: False) {
    color: $fg;
    background-color: $bg;
    @if $hv == "True" or "Lighten" or "Darken" {
        @include include_hover($fg, $bg, $hv)
    }
    @if $bd == "True" or "Lighten" or "Darken" {
        @include include_border($fg, $bg, $bd)
    }
}

%button-default {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    transition: .4s;
    &:hover {
        border-radius: 7px;
    }
}

%button-bordered {
    @extend %button-default;
    border: 3px solid $border-color;
}

.cs-button {
    &-git {
        @extend %button-default;
        @include button_prop(white, rgb(31, 30, 30), Same, Same);
        color: white;
        background-color: rgb(31, 30, 30);
        &:hover {
            background-color: rgb(0, 0, 0);
        }
        &-border {
            @extend %button-bordered;
            color: rgb(31, 30, 30);
            $border-color: rgb(31, 30, 30);
            &:hover {
            color: white;
            background-color: rgb(31, 30, 30);
            }
        }
    }
    &-success {
        @extend %button-default;
        color: rgb(255, 255, 255);
        background-color: #58d158;
        &:hover {
            background-color: rgb(56, 173, 62)
        }
        &-border {
            @extend %button-bordered;
            color: #58d158;
            $border-color:#58d158;
            &:hover {
            color: white;
            background-color: #58d158;
            }

        }
    }
    &-restart {
        @extend %button-default;
        color: rgb(255, 255, 255);
        background-color: #f8f859;
        &:hover {
            background-color: rgb(204, 204, 53);
        }
        &-border {
            @extend %button-bordered;
            color: #f8f859;
            $border-color:#f8f859;
            &:hover {
                color: white;
                background-color: #f8f859;
            }
        }
    }
    &-error {
        @extend %button-default;
        color: rgb(255, 255, 255);
        background-color: rgb(238, 76, 76);
        &:hover {
            background-color: rgb(204, 53, 53);
        }
        &-border {
            @extend %button-bordered;
            color: rgb(238, 76, 76);
            $border-color:rgb(238, 76, 76);
            &:hover {
                color: white;
                background-color: rgb(238, 76, 76);
            }
        }
    }
}