.rainbow{
    animation: rainbowText 5s infinite;
}

$rainbow_colors: (0%: Black, 15%: Red, 25%: Orange, 50%: Yellow, 65%: Green, 75%: Blue, 85%: Indigo, 100%: Violet);

@keyframes rainbowText{
@each $percentage, $rainbow_color in $rainbow_colors {
    #{$percentage} {
        color: $rainbow_color
    }
}
}